# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains configuration for the Visual Studio Code editor
# which are often user-specific. You should generally only track the project
# configuration settings in .vscode/settings.json.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will automatically add this build/ folder
# which contains the build output from the builder.
/android/app/build/
/android/app/src/main/gen/
/android/app/src/profile/gen/
/android/app/src/debug/gen/

# Exceptions to above rules.
!/packages/*/lib/src/generated/
